html {
  --bt-rjs-navbar-height: 56px;
  --bt-rjs-navbar-width: 100vw;
  --bt-rjs-navbar-icon-height: 40px;
  --bt-rjs-navbar-icon-width: 40px;

  .hide {
    display: none;
  }
}

@media (min-width: 1281px){
  .bt-rjs-layout {
    nav.bt-rjs-navbar {
      position: fixed;
      top: 0;
      left: 0;
      height: var(--bt-rjs-navbar-height);
      width: var(--bt-rjs-navbar-width);
      background-color: #008cad;

      .bt-rjs-nav-container {
        height: calc(100% - 10px);
        display: flex;
        align-items: center;
        padding: 5px 10px;
        justify-content: space-between;

        .bt-rjs-navbar-left, .bt-rjs-navbar-center, .bt-rjs-navbar-right {
          display: flex;
          align-items: center;
          height: 100%;
        }

        .bt-rjs-navbar-left {
          .bt-rjs-a-navbar-icon, .bt-rjs-navbar-icon {
            width: var(--bt-rjs-navbar-icon-width);
            height: var(--bt-rjs-navbar-icon-height);
            margin-right: 10px;
          }

          .bt-rjs-navbar-title {
            font-size: 20px;
            font-weight: bold;
            color: #eaeaea;
            margin-right: 20px;
          }
        }

        .bt-rjs-navbar-menu {
          display: flex;
          align-items: center;
          height: 100%;

          .bt-rjs-navbar-link {
            margin-right: 5px;
            text-decoration: none;
          }

          .bt-rjs-navbar-link, .bt-rjs-navbar-menu-item{
            color: #eaeaea;
            cursor: pointer;
          }

          .bt-rjs-navbar-menu-item {
            width: fit-content;
            height: fit-content;
            padding: 5px 10px;
            position: relative;

            &:hover {
              background-color: red;
            }

            .bt-rjs-navbar-dropdown-menu {
              position: absolute;
              left: 0;
              top: 100%;
              width: 100px;
              height: fit-content;
              padding: 5px 0;
              background-color: green;

              .bt-rjs-navbar-dropdown-menu-item {
                text-align: left;
                font-size: 14px;
                margin-bottom: 5px;
                background-color: blue;
                padding: 0 10px;
              }
            }
          }
        }
      }
    }

    .bt-rjs-sidebar {
      position: fixed;
      left: 0;
      top: var(--bt-rjs-navbar-height);
      height: calc(100vh - var(--bt-rjs-navbar-height));
      width: 200px;
      padding: 0 10px;
      border-radius: 0 80px 0 0;
      display: flex;
      flex-flow: column;
      background-color: #008cad;
  
      .header, .content, .footer {
        width: 100%;
      }
  
      .header {
        flex: 0 1 13%;
        border-radius: 0 80px 0 0;
        position: relative;
        margin: 10px 0;
  
        .title {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: fit-content;
          max-width: 80%;
  
          font-size: 20px;
          font-weight: bold;
          text-align: left;
        }
      }
  
      .content {
        flex: 1 1 auto;
        margin-bottom: 10px;
        background-color: green;
      }
  
      .footer {
        flex: 0 1 10%;
        margin-bottom: 10px;
        background-color: red;
      }
  
      &.primary {
        background-color: #008cad;
        color: white;
      }
    }
  }
}